name: 'Check test, code style and linter'
'on':
  - push
  - pull_request
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - name: Install and configure Poetry
        uses: snok/install-poetry@v1
      - name: Install dependencies
        run: |
          cd Python/crossfire
          poetry install
      - name: Run tests
        run: |
          cd Python/crossfire
          poetry run pytest